.sections {
  padding-top: calc(var(--toolbar-height) + var(--gap-box));
}

.layout-holder {
  letter-spacing: 0;
  line-height: 1.5;
}

.component.dragging {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

  transition: box-shadow 0.2s, scale 0.2s;
}

.component {
  position: absolute;
  overflow: hidden;
  background-color: white;
  cursor: grab;
}

.component-content {
  min-width: 100%;
  min-height: 100%;
}

[data-type="image"] img,
[data-type="image"] picture {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.section,
.section-content {
  width: 8.27in;
  height: 11.69in;
  position: relative;
  margin-inline: auto;
}

.section-content {
  overflow: hidden;
  box-shadow: 0 0 5px 5px #d3d3d382;
  background-color: #fff;
}

.section {
  margin: 50px auto 0;
  /*padding: 20mm;*/

  transition: transform 0.5s;

  &:first-child {
    margin-top: var(--padding);
  }
}

.toolbox {
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  overflow: auto;
  scrollbar-width: thin;
  position: fixed;
  background-color: white;
  padding: 12px;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.02);
}

.g-input-block input {
  width: 100%;
  padding: 5px;
}

.g-input-block label {
  display: block;
  padding: 0 0 3px;
}

.g-input-block img {
  max-width: 100%;
}

.g-input-block {
  padding: 10px 0;
}

@media print {
  #editor {
    display: none;
  }

  .section {
    width: 8.27in;
    height: 11.69in;

    box-shadow: none;
    margin: 0;
  }
}
